$blue: #409eff;
$success: #67c23a;
$warning: #e6a23c;
$danger: #f56c6c;
$info: #909399;
$text-primary: #303133;
$text-normal: #606266;
$text-secondary: #909399;
$text-Placeholder: #c0c4cc;
$border-1: #dcdfe6;
$border-2: #e4e7ed;
$border-3: #ebeef5;
$border-4: #f2f6fc;
